@model Project2.Models.AllHomeViewModel;



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>Drinks</h3>
    @foreach(var item in Model.drinks)
    {
        <h3>ID : @item.Id</h3>
        <h3>Brand : @item.Brand</h3>
        <h3>Count : @item.Count</h3>
    }

    <h3>FastFood</h3>
    @foreach(var item in Model.fastFoods)
    {
        <h3>ID : @item.Id</h3>
        <h3>Type : @item.Type</h3>
        <h3>Count : @item.Count</h3>
    }

    <h3>HotMeal</h3>
    @foreach (var item in Model.hotMeals)
    {
        <h3>ID : @item.Id</h3>
        <h3>Type : @item.Type</h3>
        <h3>Count : @item.Count</h3>
    }
</body>
</html>
