@model Project2.Models.AllHomeViewModel;



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Drinks</h1>
    @foreach(var item in Model.drinks)
    {
        <h1>ID : @item.Id</h1>
        <h1>Brand : @item.Brand</h1>
        <h1>Count : @item.Count</h1>
    }

    <h1>FastFood</h1>
    @foreach(var item in Model.fastFoods)
    {
        <h1>ID : @item.Id</h1>
        <h1>Type : @item.Type</h1>
        <h1>Count : @item.Count</h1>
    }

    <h1>HotMeal</h1>
    @foreach (var item in Model.hotMeals)
    {
        <h1>ID : @item.Id</h1>
        <h1>Type : @item.Type</h1>
        <h1>Count : @item.Count</h1>
    }
</body>
</html>
